@number_input_width: 55px;
@primary: #004d40;
@light: #39796b;
@dark: #00251a;
@button-color: #005f63;

@text-dark: white;
@text-light: lightgray;
@primary-font: Segoe UI;

html {
  height: 100%;
  font-family: @primary-font;
}

body {
  height: 100%;
  display: grid;
  grid-template-areas: 'header header header header header' 'content content content content content' 'footer footer footer footer footer';
  grid-row-gap: 1%;
  grid-template-rows: 5% 88% 5%;
  color: @text-dark;
  background: @light;
}

body > * {
  padding: 10px;
}

#header {
  grid-area: header;
  display: inline-grid;
  background: @primary;
  color: @text-dark;
  border-bottom: 1px solid black;
}

#main {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-area: content;
  //overflow: hidden;
}

#footer {
  grid-area: footer;
  background: @dark;
  color: @text-dark;
  border-top: 1px solid black;
}

#ingredients {

}

#ingredients .ingredient-name, #ingredients input[type=number], #ingredients select,
#ingredients button, #ingredients input[type=submit] {
  padding: 3px 5px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#ingredients button, #ingredients input[type=submit] {
  background-color: @button-color;
  padding: 4.5px 7.5px;
  color: white;
  border: none;
  cursor: pointer;
}

#ingredients button:hover, #ingredients input[type=submit]:hover {
  background-color: @primary;
}

#ingredients input[type=submit] {
  display: block;
}

#ingredients input[type="number"] {
  width: @number_input_width;
}

.ingredient > * {
}

#ingredients > * {
  display: block;
}

.ingredient {
  width: 80%;
}

#container {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: hidden;
}

#container > * {
  margin-bottom: 25px;

}

#results {

  overflow-y: auto;
}

.result {

  position: relative;
  display: flow;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px black solid;
}

*::-webkit-scrollbar {
  opacity: 80%;
}

#ingredient-list {
  overflow-y: auto;
}