@number_input_width: 55px;
@primary: #004d40;
@light: #39796b;
@dark: #00251a;
@text-dark: white;
@text-light: black;
@primary-font: Segoe UI;

html {
  height: 100%;
  font-family: @primary-font;
}

body {
  height: 100%;
  display: grid;
  grid-template-areas: 'header header header header header' 'content content content content content' 'footer footer footer footer footer';
  grid-row-gap: 1%;
  grid-template-rows: 5% 88% 5%;
  background: @light;
}

body > * {
  padding: 10px;
}

#header {
  grid-area: header;
  display: inline-grid;
  background: @primary;
  color: @text-dark;
  border-bottom: 1px solid black;
}

#main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-area: content;
  overflow-y: scroll;
}

#footer {
  grid-area: footer;
  background: @dark;
  color: @text-dark;
  border-top: 1px solid black;
}

#ingredients {

}

#ingredients input[type="number"] {
  width: @number_input_width;
}

.ingredient > * {
}

#ingredients > * {
  display: block;
}

.ingredient {
  width: 80%;
}

#container {
  display: flow;
  grid-column-start: 2;
  grid-column-end: 3;
}

#container > * {
  margin-bottom: 25px;

}
