html {
  height: 100%;
  font-family: Segoe UI;
}
body {
  height: 100%;
  display: grid;
  grid-template-areas: 'header header header header header' 'content content content content content' 'footer footer footer footer footer';
  grid-row-gap: 15px;
  grid-template-rows: 5% 87% 5%;
  background: #39796b;
}
body > * {
  padding: 10px;
}
#header {
  grid-area: header;
  display: inline-grid;
  background: #004d40;
  color: white;
  border-bottom: 1px solid black;
}
#main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-area: content;
  overflow-y: scroll;
}
#footer {
  grid-area: footer;
  background: #00251a;
  color: white;
  border-top: 1px solid black;
}
#ingredients input[type="number"] {
  width: 55px;
}
#ingredients > * {
  display: block;
}
.ingredient {
  width: 80%;
}

#container {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}
