html {
  height: 100%;
  font-family: Segoe UI;
}
body {
  height: 100%;
  display: grid;
  grid-template-areas: 'header header header header header' 'content content content content content' 'footer footer footer footer footer';
  grid-row-gap: 1%;
  grid-template-rows: 5% 88% 5%;
  background: #39796b;
}
body > * {
  padding: 10px;
}
#header {
  grid-area: header;
  display: inline-grid;
  background: #004d40;
  color: white;
  border-bottom: 1px solid black;
}
#main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-area: content;
  overflow-y: scroll;
}
#footer {
  grid-area: footer;
  background: #00251a;
  color: white;
  border-top: 1px solid black;
}

#ingredients .ingredient-name,
#ingredients input[type=number],
#ingredients select,
#ingredients button,
#ingredients input[type=submit] {
  padding: 3px 5px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#ingredients button,
#ingredients input[type=submit] {
  background-color: #005f63;
  padding: 4.5px 7.5px;
  color: white;
  border: none;
  cursor: pointer;
}

#ingredients button:hover,
#ingredients input[type=submit]:hover {
  background-color: #004d40;
}

#ingredients input[type=submit] {
  display: block;
}
#ingredients input[type="number"] {
  width: 55px;
}
#ingredients > * {
  display: block;
}
.ingredient {
  width: 80%;
}
#container {
  display: flow;
  grid-column-start: 2;
  grid-column-end: 3;
}
#container > * {
  margin-bottom: 25px;
}
