html {
  height: 100%;
}
body {
  height: 100%;
  display: grid;
  grid-template-areas: 'header header header header header' 'content content content content content' 'footer footer footer footer footer';
  grid-row-gap: 15px;
  grid-template-rows: 5% 75% 5%;
}
body > * {
  padding: 10px;
}
#header {
  grid-area: header;
  display: inline-grid;
  border-bottom: 1px solid black;
}
#main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-area: content;
  overflow-y: scroll;
}
#footer {
  grid-area: footer;
  border-top: 1px solid black;
}
#ingredients {
  grid-column-start: 2;
  grid-column-end: 3;
}

#ingredients input[type="number"] {
  width: 55px;
}
#ingredients > * {
  display: block;
}

.ingredient {
  width: 80%;
}
